
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Novo Post</title>
</head>
<body>
    <div> 
        <form action="Adiciona" method="post">
            @Html.ValidationMessage("post.Invalido")
            @Html.ValidationMessage("titulo")
            <label>Título: 
                <input type="text" name="titulo" value="@ViewBag.Post.Titulo" />
            </label>
            @Html.ValidationMessage("conteudo")
            <label>Conteúdo: 
                <textarea name="conteudo">@ViewBag.Post.Conteudo</textarea>
            </label>
            @Html.ValidationMessage("dataPublicacao")
            <label>Data de Publicação: 
                <input type="date" name="dataPublicacao" value="@ViewBag.Post.DataPublicacao" />
            </label>
            @Html.ValidationMessage("publicado")
            <label>Publicar? 
                <input type="checkbox" name="publicado" value="true" checked="@ViewBag.Post.Publicado" />
            </label>
            <input type="submit" value="Cadastrar" />
        </form>
    </div>
</body>
</html>
