@model System.Collections.Generic.IList<BlogWeb.Models.Post>

<div> 
    @Html.ActionLink("Novo Post", "Form")
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Data da Publicação</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.Id</td>
                    <td>@p.Titulo</td>
                    <td>@p.DataPublicacao</td>
                    <td>@Html.ActionLink("Remover", "Remove", new { id = p.Id }, new { @class = "icon-cancel" })</td>
                    <td>@Html.RouteLink("Editar", "VisualizaPost", new { id = p.Id }, new { @class = "icon-edit" })</td>
                </tr>
            }
        </tbody>
    </table>
</div>
