@model System.Collections.Generic.IList<BlogWeb.Models.Post>

<div> 
    @Html.RouteLink("Novo Post", "NovoPost")
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Data da Publicação</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.Id</td>
                    <td>@p.Titulo</td>
                    <td>@p.DataPublicacao</td>
                    <td><a href="#" class="icon-cancel" onclick="removePost(@p.Id);">Remover</a></td>
                    <td>@Html.RouteLink("Editar", "VisualizaPost", new { id = p.Id }, new { @class = "icon-edit" })</td>
                    <td id="publicar@(p.Id)">
                        @if (p.Publicado)
                        {
                            @: Publicado
                        }
                        else
                        {
                            <a href="#" onclick="publicaPost(@p.Id);">Publicar</a>                            
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
    {
        @Html.AntiForgeryToken()
    }
</div>

@section Scripts
{
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>

    <script type="text/javascript">
        function publicaPost(postId) {
            var url = "@Url.Action("Publica", "Post")";
            var token = antiForgetyToken();
            $.post(url, { id: postId, __RequestVerificationToken: token }, function () {
                var elemento = $("#publicar" + postId);
                elemento.html("Publicado");
            });
        }

        function removePost(postId) {
            var url = "@Url.Action("Remove", "Post")";
            var token = antiForgetyToken();
            $.post(url, { id: postId, __RequestVerificationToken: token }, function () {
                window.location.reload(false);
            });
        }

        function antiForgetyToken() {
            var form = $("#__AjaxAntiForgeryForm");
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            return token;
        }
    </script>
}