@model System.Collections.Generic.IList<BlogWeb.Models.Post>

<div> 
    @Html.RouteLink("Novo Post", "NovoPost")
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Data da Publicação</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.Id</td>
                    <td>@p.Titulo</td>
                    <td>@p.DataPublicacao</td>
                    <td>@Html.ActionLink("Remover", "Remove", new { id = p.Id }, new { @class = "icon-cancel" })</td>
                    <td>@Html.RouteLink("Editar", "VisualizaPost", new { id = p.Id }, new { @class = "icon-edit" })</td>
                    <td id="publicar@(p.Id)">
                        @if (p.Publicado)
                        {
                            @: Publicado
                        }
                        else
                        {
                            <a href="#" onclick="publicaPost(@p.Id);">Publicar</a>                            
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>

    <script type="text/javascript">
        function publicaPost(postId) {
            var url = "@Url.Action("Publica", "Post")";
            $.post(url, { id: postId }, function () {
                var elemento = $("#publicar" + postId);
                elemento.html("Publicado");
            });
        }
    </script>
}